@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

body {
    height: 100vh;
}

header {
    flex-direction: column;
    width: auto;
    height: auto;
}

.header-container {
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}


.login-bar ul,
.login-bar-2 ul {
    list-style-type: none;
    gap: .5rem;
}

.login-bar a {
    color: rgb(6, 84, 186);
}

.login-bar-link-2 {
    padding: 0 1rem;
}

.login-bar-link-2 li:not(:last-child) {
    margin-right: 1rem;
}

.login-bar-2 li {
    margin-right: 1rem;
}

.logo-bar {
    width: auto;
    height: 100px;
    justify-content: center;
    border-bottom: 1px solid grey;
    gap: 1rem;
}

.logo-bar img {
    width: 200px;
}

.list-button {
    display: none;
}


button:hover .list-button {
    display: block;
}

.search-container {
    border: 1px solid black;
    padding-left: 1rem;
}

.search {
    outline: none;
    border: none;
    font-size: larger;
    margin-right: 18rem;
}

.option {
   padding: .8rem;

}

.cerca {
    padding: 1rem 4rem;
    background-color: rgb(54, 101, 243);
    color: white;
    border: none;
    cursor: pointer;
}